.form{
    display:flex;
    gap: 0.4rem;

    & input{
        height: 2rem;

    }
}

table{
    width: 50rem;
    margin-top: 1rem;
    border: solid 1px ;    
    border-collapse: collapse;
}

th, td {
  border: 1px solid ; 
  padding: 8px;
  text-align: left; 
}